[Desktop Entry]
Name=Redis Insight
Comment=Redis GUI for viewing and managing data
Exec=redisinsight %U
Icon=redisinsight
Terminal=false
Type=Application
Categories=Development;Database;
MimeType=x-scheme-handler/redis;
